<h1>Отгрузка</h1>
<div>
  <span>Товар: {{ good.name }}</span
  ><br />
  <span>Категория: {{ good.category }}</span
  ><br /><br />
  <span>Цена: {{ good.price }}₽</span><br />
  <span>Уже имеется: {{ good.count }}шт.</span><br />
  <span>На сумму: {{ good.price * good.count }}₽</span><br /><br />
  <div *ngIf="good.fields">
    <h3>Характеристики</h3>
    <ng-container *ngFor="let field of good.fields">
      <span>{{ field.key }}: {{ field.value }}</span>
      <br />
    </ng-container>
    <br />
  </div>
  <div>
    <form [formGroup]="form">
      <div>
        <mat-form-field appearance="outline" class="mr-16">
          <mat-label>Поставщик</mat-label>
          <input matInput readonly [value]="displayName" />
        </mat-form-field>
        <mat-form-field appearance="outline" class="mr-16">
          <mat-label>Приемщик</mat-label>
          <input matInput type="text" minlength="1" formControlName="dst"/>
        </mat-form-field>
      </div>
      <mat-form-field appearance="outline" class="mr-16">
        <mat-label>Количество</mat-label>
        <input
          matInput
          type="number"
          min="1"
          [max]="good.count"
          formControlName="count"
        />
      </mat-form-field>
      <mat-form-field appearance="outline" class="mr-16">
        <mat-label>Дата и время</mat-label>
        <input matInput type="datetime-local" formControlName="date" />
      </mat-form-field>
    </form>
  </div>
  <span>На сумму: {{ good.price * form.value.count }}₽</span><br /><br />
  <button
    mat-flat-button
    color="primary"
    [disabled]="form.invalid"
    (click)="outTake()"
  >
    Отгрузили
  </button>
</div>
