<mat-toolbar>
  <div class="toolbar">
    <button mat-button color="primary" routerLink="/goods">Товары</button>
    <button mat-button color="primary" routerLink="/categories">
      Категории
    </button>
    <div class="spacer"></div>
    <div *ngIf="auth.user | async as user; else showLogin">
      <button mat-stroked-button [matMenuTriggerFor]="menu" color="primary">
        <span>{{ user.displayName || "Профиль" }}</span>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="changeDisplayName()">Сменить имя</button>
        <button mat-menu-item (click)="logout()">Выйти</button>
      </mat-menu>
    </div>
    <ng-template #showLogin>
      <button (click)="login()" mat-stroked-button color="primary">
        Войти
      </button>
    </ng-template>
  </div>
</mat-toolbar>
<div class="container">
  <router-outlet></router-outlet>
</div>
