<ngx-auth-firebaseui
  [registrationEnabled]="false"
  [providers]="[]"
  appearance="outline"
  signInTabText="Вход"
  signInCardTitleText="Вход"
  loginButtonText="Войти"
  forgotPasswordButtonText="Восстановить пароль"
  emailErrorRequiredText="Введите e-mail"
  emailErrorPatternText="Введите правильный e-mail"
  passwordText="Пароль"
  passwordErrorRequiredText="Введите пароль"
  resetPasswordTabText="Восстановление"
  resetPasswordInputText="E-mail"
  resetPasswordErrorRequiredText="Введите e-mail"
  resetPasswordErrorPatternText="Введите правильный e-mail"
  resetPasswordActionButtonText="Восстановить"
  resetPasswordInstructionsText="Инструкция по восстановлению была отправлена на Ваш e-mail"
  (onSuccess)="dialogRef.close()"
></ngx-auth-firebaseui>
